<!DOCTYPE html>
<html lang="ko" >
<head>
  <meta charset="UTF-8">
  <title>크롤링 목록 조회</title>
  <link href="{{url_for('static',path='/style.css')}}" rel="stylesheet">
  <link href="https://unpkg.com/tabulator-tables@5.4.3/dist/css/tabulator_semanticui.min.css" rel="stylesheet">
</head>
<body>
<section id="wrapper">
   <div class="content">
      <!-- Tab links -->
      <div class="tabs">
         <button class="tablinks active" data-country="amazon"><p data-title="amazon">아마존 크롤링 목록 조회</p></button>
         <button class="tablinks" data-country="danawa"><p data-title="danawa">다나와 크롤링 목록 조회</p></button>
      </div>

      <!-- Tab content -->
      <div class="wrapper_tabcontent">
         <div id="amazon" class="tabcontent active">
            <h3>아마존 크롤링 목록 조회</h3>
            <input id="amz_crawl_btn" class="btn" type="button" value="크롤링 시작">
            <input id="amz_execl_download" class="btn" type="button" value="액셀 다운로드">

            <form>
               <div id="amz_crawl_list"></div>
            </form>

            <form id="amz_keyword_form">
               <label for="keyword">키워드 검색 : </label>
               <input type="text" id="amz_keyword" name="keyword">
               <input type="submit" value="검색">
            </form>
         </div>

         <div id="danawa" class="tabcontent">
            <h3>다나와 크롤링 목록 조회</h3>
            <input id="dnw_crawl_btn" class="btn" type="button" value="크롤링 시작">
            <input id="dnw_execl_download" class="btn" type="button" value="액셀 다운로드">

            <form>
               <div id="dnw_crawl_list"></div>
            </form>

            <form id="dnw_keyword_form">
               <label for="keyword">키워드 검색 : </label>
               <input type="text" id="dnw_keyword" name="keyword">
               <input type="submit" value="검색">
            </form>
         </div>

        
      </div>
   </div>
</section>
<!-- js -->
  <script  src="{{url_for('static',path='/js/script.js')}}"></script>
  <script type="text/javascript" src="https://unpkg.com/tabulator-tables/dist/js/tabulator.min.js"></script>
  <script type="text/javascript" src="https://oss.sheetjs.com/sheetjs/xlsx.full.min.js"></script>
  <script>
      let amz_list = {{amz_crawl_list|tojson}};
      let amz_table = new Tabulator('#amz_crawl_list',{
         data:amz_list,
         pagination:"local",
         paginationSize:10,
         columns:[
            {formatter:"rowSelection", titleFormatter:"rowSelection", hozAlign:"center", 
            headerSort:false
            },
            {title:"level1", field:"level1", headerFilter:"input"},
            {title:"level2", field:"level2", headerFilter:"input"},
            {title:"level3", field:"level3", headerFilter:"input"},
            {title:"level4", field:"level4", headerFilter:"input"},
            {title:"url", field:"url"}
         ],
         });
      amz_table.on("rowClick", function(e, row){
         window.location.href = '/model4_amz?url='+row._row.data.url;
      });

      const amz_crawl_btn = document.getElementById("amz_crawl_btn")
      const amz_execl_download_btn = document.getElementById("amz_execl_download")
      const amz_keyword_form = document.getElementById("amz_keyword_form")

      function click_amz_crawl_btn(e){
         e.preventDefault()
         const selectedData = amz_table.getSelectedData();

         fetch('/amz_crawl', {
            method: 'POST',
            headers: {
               'Accept': 'application/json',
               'Content-Type': 'application/json'
            },
            body: JSON.stringify({"selectedData":JSON.stringify(selectedData)}),
         })
         .then(res => res.json())
         .then(data => console.log(data))
         ;
      }

      function click_amz_execl_download_btn(e){
         amz_table.download("xlsx", "amazon_crawlling_list.xlsx", {sheetName:"MyData"}); 
      }

      function submit_amz_keyword_form(e){
         e.preventDefault()
         console.log(amz_keyword_form.keyword.value)

         fetch('/amz_keyword', {
            method: 'POST',
            headers: {
               'Accept': 'application/json',
               'Content-Type': 'application/json'
            },
            body: JSON.stringify({"keyword":amz_keyword_form.keyword.value}),
         })
         .then(res => res.json())
         .then(amz_list => amz_table.replaceData(amz_list));
      }

      amz_crawl_btn.addEventListener("click",click_amz_crawl_btn)
      amz_execl_download_btn.addEventListener("click",click_amz_execl_download_btn)
      amz_keyword_form.addEventListener("submit",submit_amz_keyword_form)

//========================================================================================


      let dnw_list = {{dnw_crawl_list|tojson}};
		let dnw_table = new Tabulator('#dnw_crawl_list',{
         data:dnw_list,
         pagination:"local",
         paginationSize:10,
         columns:[
            {formatter:"rowSelection", titleFormatter:"rowSelection", hozAlign:"center", 
            headerSort:false
            },
            {title:"level1", field:"level1", headerFilter:"input"},
            {title:"level2", field:"level2", headerFilter:"input"},
            {title:"level3", field:"level3", headerFilter:"input"},
            {title:"level4", field:"level4", headerFilter:"input"},
            {title:"pcategory", field:"pcategory"}
         ],
         });
      dnw_table.on("rowClick", function(e, row){
         window.location.href = '/model4_dnw?pcategory='+row._row.data.pcategory;
		});

      const dnw_crawl_btn = document.getElementById("dnw_crawl_btn")
      const dnw_execl_download_btn = document.getElementById("dnw_execl_download")
      const dnw_keyword_form = document.getElementById("dnw_keyword_form")

      function click_dnw_crawl_btn(e){
         e.preventDefault()
         let selectedData = dnw_table.getSelectedData();

         fetch('/dnw_crawl', {
         method: 'POST',
         headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
         },
         body: JSON.stringify({"selectedData":JSON.stringify(selectedData)}),
         })
         .then(res => res.json())
         .then(data => console.log(data));
      }

      function click_dnw_execl_download_btn(e){
         e.preventDefault()
         dnw_table.download("xlsx", "danawa_crawlling_list.xlsx", {sheetName:"MyData"}); 
      }

      function submit_dnw_keyword_form(e){
         e.preventDefault()
         console.log(dnw_keyword_form.keyword.value)

         fetch('/dnw_keyword', {
            method: 'POST',
            headers: {
               'Accept': 'application/json',
               'Content-Type': 'application/json'
            },
            body: JSON.stringify({"keyword":dnw_keyword_form.keyword.value}),
         })
         .then(res => res.json())
         .then(dnw_list => dnw_table.replaceData(dnw_list));
      }

      dnw_crawl_btn.addEventListener("click",click_dnw_crawl_btn)
      dnw_execl_download_btn.addEventListener("click",click_dnw_execl_download_btn)
      dnw_keyword_form.addEventListener("submit",submit_dnw_keyword_form)
  </script>
</body>
</html>