<!DOCTYPE html>
<html>
<head>
	<link href="https://unpkg.com/tabulator-tables@5.4.3/dist/css/tabulator.min.css" rel="stylesheet">
	<link href="{{url_for('static',path='/style.css')}}" rel="stylesheet">
	<link href="https://unpkg.com/tabulator-tables@5.4.3/dist/css/tabulator_semanticui.min.css" rel="stylesheet">
 	<script type="text/javascript" src="https://unpkg.com/tabulator-tables@5.4.3/dist/js/tabulator.min.js"></script>

	<style>
	table, th, td{
		border : 1px solid black;
		text-align : center;
	}
	.btn{
		font-size : 1.2em;
	}
	</style>
	<meta charset="UTF-8">
	<title>Model4_Danawa</title>
</head>
<body>
	<div id="model4_data_amz"></div>
	<script>
		var aaa = {{input_list|tojson}};
		var table = new Tabulator('#model4_data_amz',{
		data:aaa,
		pagination:"local",
		paginationSize:20,
		columns:[
			{title:"PCATEGORY", field:"PCATEGORY"},
			{title:"CLUSTER_NAME", field:"CLUSTER_NAME"},
			{title:"PCODE", field:"PCODE"},
			{title:"PRODUCT_IDX", field:"PRODUCT_IDX"},
			{title:"PRODUCT_NAME", field:"PRODUCT_NAME"},
			{title:"PRODUCT_PRICE", field:"PRODUCT_PRICE"},
			// {title:"CLUSTER", field:"CLUSTER"},
			{title:"PRICE_RANGE", field:"PRICE_RANGE"},
			{title:"TITLE1", field:"TITLE1"},
			{title:"CONTENT1", field:"CONTENT1"},
			{title:"TITLE2", field:"TITLE2"},
			{title:"CONTENT2", field:"CONTENT2"},
			{title:"TITLE3", field:"TITLE3"},
			{title:"CONTENT3", field:"CONTENT3"},
			{title:"TITLE4", field:"TITLE4"},
			{title:"CONTENT4", field:"CONTENT4"},
			{title:"TITLE5", field:"TITLE5"},
			{title:"CONTENT5", field:"CONTENT5"},
			{title:"TITLE6", field:"TITLE6"},
			{title:"CONTENT6", field:"CONTENT6"},
			{title:"TITLE7", field:"TITLE7"},
			{title:"CONTENT7", field:"CONTENT7"},
			{title:"NEEDS_TITLE_LIST", field:"NEEDS_TITLE_LIST"},
			// {title:"TITLE_LIST", field:"TITLE_LIST"},
			{title:"CREATE_DATE", field:"CREATE_DATE"},
		],
		});
	</script>
</body>
</html>